<div class="contact">
    <div class="global-container">
        <div class="contact__wrapper">
            <div class="contact__item">
                <div class="contact__map"></div>
            </div>
            <div class="contact__item contact-item">
                <div class="contact-item__head">
                    <p class="contact-item__title">
                        Emergency Contact
                    </p>
                    <p class="contact-item__subtitle">
                        Combined with a handful of model sentence structures,  generate 
                        always free from repetition injected.
                    </p>
                </div>
                <ul class="contact-item__list">
                    <li class="contact-item__item contact-card"> 
                        <div class="contact-card__icon">

                        </div>
                        <div class="contact-card__head">
                            <p class="contact-card__title">
                                Call
                            </p>
                            <p class="contact-card__subtitle">
                                0822 - xxx - xxx
                            </p>
                            <button class="default-btn">
                                <p class="default-btn__text">Call Now</p>
                            </button>
                        </div>
                    </li>
                    <li class="contact-item__item contact-card"> 
                        <div class="contact-card__icon">

                        </div>
                        <div class="contact-card__head">
                            <p class="contact-card__title">
                                Chat
                            </p>
                            <p class="contact-card__subtitle">
                                Type fast chat
                            </p>
                            <button class="default-btn">
                                <p class="default-btn__text">Chat</p>
                            </button>
                        </div>
                    </li>
                    <li class="contact-item__item contact-card"> 
                        <div class="contact-card__icon">

                        </div>
                        <div class="contact-card__head">
                            <p class="contact-card__title">
                                Go to Near Location
                            </p>
                            <p class="contact-card__subtitle">
                                You can use emergency
                            </p>
                            <button class="default-btn">
                                <p class="default-btn__text">Video Call</p>
                            </button>
                        </div>
                    </li>
                    <li class="contact-item__item contact-card"> 
                        <div class="contact-card__icon">

                        </div>
                        <div class="contact-card__head">
                            <p class="contact-card__title">
                                Email
                            </p>
                            <p class="contact-card__subtitle">
                                If you want update
                            </p>
                            <button class="default-btn">
                                <p class="default-btn__text">Send Email</p>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>