<section class="get-vaccine">
    <div class="global-container">
        <div class="get-vaccine__wrapper">
            <div class="get-vacine__item get-vacine-description">
                <p class="get-vacine-description__title">Get Your Vaccine, Get Your Health</p>
                <p class="get-vacine-description__subtitle">
                    There are many variations of passages of Lorem Ipsum available, 
                    but the majority have suffered alteration in some form, 
                    by injected humour
                </p>
                <div class="get-vacine-description__btns">
                    <button class="default-btn">
                        <p class="default-btn__text">Get Your Vaccine</p>
                    </button>
                    <button class="default-btn second-btn  open-modal" onclick="handleModal()">
                        <p class="default-btn__text second-btn__text">Learn more</p>
                    </button>
                </div>
            </div>
            <div class="get-vacine__item get-vaccine-images">
                <div class="get-vaccine-images__item">
                    <div class="get-vaccine-images__item--subitem"></div>
                    <div class="get-vaccine-images__item--subitem"></div>
                </div>
                <div class="get-vaccine-images__item">
                    <div class="get-vaccine-images__item--subitem"></div>
                    <div class="get-vaccine-images__item--subitem"></div>
                </div>
                <div class="get-vaccine-images__item">
                    <div class="get-vaccine-images__item--subitem"></div>
                </div>
            </div>
        </div>
    </div>
</section>