<div class="schedule">
    <div class="global-container">

        <div class="schedule__wrapper">
            <p class="schedule__title">
                Schedule Vaccination
            </p>
            <form action="#" class="schedule__form">
                <ul class="schedule__list">
                    <li class="schedule__item schedule-item">
                        <div class="schedule-item__head">
                            <div class="schedule-item__icon">
                                
                            </div>
                            <div class="schedule-item__title">
                                Location
                            </div>
                        </div>
                        <div class="schedule-item__input">
                            <input class="schedule-item__input-input" type="text" placeholder="Jakarta, Indonesia">
                        </div>
                    </li>
                    <li class="schedule__item schedule-item">
                        <div class="schedule-item__head">
                            <div class="schedule-item__icon">
    
                            </div>
                            <div class="schedule-item__title">
                                Date
                            </div>
                        </div>
                        <div class="schedule-item__input">
                            <input class="schedule-item__input-input" type="text" placeholder="25 June, 2021">
                        </div>
                    </li>
                    <li class="schedule__item schedule-item">
                        <div class="schedule-item__head">
                            <div class="schedule-item__icon">
    
                            </div>
                            <div class="schedule-item__title">
                                Vaccine Type
                            </div>
                        </div>
                        <div class="schedule-item__input">
                            <input class="schedule-item__input-input" type="text" placeholder="Jakarta, Indonesia">
                        </div>
                    </li>
                    <li class="schedule__item schedule-item">
                        <div class="default-btn">
                            <div class="default-btn__text">Find</div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>

</div>