<div class="vaccines">
    <div class="global-container">
        <div class="vaccines__wrapper">
            <ul class="vaccines__list">
                <li class="vaccines__item vaccine">
                    <div class="vaccine__head">
                        <p class="vaccine__title">
                            Sinovac
                        </p>
                        <p class="vaccine__subtitle">
                            Necessary making this
                        </p>
                    </div>
                    <div class="vaccine__get">
                        <div class="default-btn">
                            <div class="default-btn__text">Get Vaccine</div>
                        </div>
                    </div>
                </li>
                <li class="vaccines__item vaccine">
                    <div class="vaccine__head">
                        <p class="vaccine__title">
                            Astrazeneca
                        </p>
                        <p class="vaccine__subtitle">
                            Necessary making this
                        </p>
                    </div>
                    <div class="vaccine__get">
                        <div class="default-btn">
                            <div class="default-btn__text">Get Vaccine</div>
                        </div>
                    </div>
                </li>
                <li class="vaccines__item vaccine">
                    <div class="vaccine__head">
                        <p class="vaccine__title">
                            Sinopahrm
                        </p>
                        <p class="vaccine__subtitle">
                            Necessary making this
                        </p>
                    </div>
                    <div class="vaccine__get">
                        <div class="default-btn">
                            <div class="default-btn__text">Get Vaccine</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="vaccines__dots">
                
            </div>
        </div>
    </div>
    <div class="vaccines__types vaccines-types">
        <ul class="vaccines-types__list">
            <li class="vaccines-types__item">
                <p class="vaccines-types__text">VACCINESIN</p>
            </li>
            <li class="vaccines-types__item">
                <p class="vaccines-types__text">AstraVac</p>
            </li>
            <li class="vaccines-types__item">
                <p class="vaccines-types__text">HealthVaccine</p>
            </li>            
            <li class="vaccines-types__item">
                <p class="vaccines-types__text">SimpAcine</p>
            </li>
        </ul>
    </div>
</div>