<div class="why">
    <div class="global-container">
        <div class="why-head">
            <p class="why-head__title">
                Why Vaccine Is Important?
            </p>
            <p class="why-head__subtitle">
                Combined with a handful of model sentence structures, to generate 
                always free from repetition injected.   
            </p>
        </div>
        <div class="why__wrapper">
            <form class="why__form">
                <ul class="why__list">
                    <li class="why__list--item why-item">
                        <div class="why-item__input">
                            <label for="full-name">Full Name</label>
                            <input id="full-name" class="why-item__input-input" type="text" placeholder="Enter Your name">
                        </div>
                    </li>
                    <li class="why__list--item why-item">
                        <div class="why-item__input">
                            <label for="email">Email or phone number</label>
                            <input id="email" class="why-item__input-input" type="text" placeholder="Enter your email or number">
                        </div>
                    </li>
                    <li class="why__list--item why-item">
                        <div class="why-item__input">
                            <label for="address">Address</label>
                            <input id="address" class="why-item__input-input" type="text" placeholder="Full your Address">
                        </div>
                    </li>
                </ul>
                <ul class="why__list">
                    <li class="why__list--item why-item">
                        <div class="why-item__input">
                            <label for="full-name">Disease history</label>
                            <input id="full-name" class="why-item__input-input" type="text" placeholder="Enter diese history">
                        </div>
                    </li>
                    <li class="why__list--item why-item">
                        <div class="why-item__input">
                            <label for="full-name">Level Vaccination</label>
                            <input id="full-name" class="why-item__input-input" type="text" placeholder="Choose Level">
                        </div>
                    </li>
                    <li class="why__list--item why-item">
                        <div class="why-item__input">
                            <label for="full-name">Near Vaccination Location</label>
                            <input id="full-name" class="why-item__input-input" type="text" placeholder="Indonesia">
                        </div>
                    </li>
                </ul>
                <div class="why__submit">
                    <button class="default-btn">
                        <p class="default-btn__text">Vaccine Now</p>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>